<% if shift_of_current_user %>
  <div class= "one_exchange-card shift_of_current_user">
<% else %>
  <div class= "one_exchange-card">
<% end %>
    <div class="line">
        <p><%= shift.line.name %></p>
    </div>
    <div class="date_hours">
      <div class="date">
        <p><%= l(shift.date, format: "%a %e %b").upcase %></p>
      </div>
      <div class ="shift_hours">
        <div class="starting_hour">
          <p id="start"> Début </p>
          <p> <%= shift.hour_start.strftime('%H:%M') %></p>
        </div>
        <div class="ending_hour">
          <p id="end"> Fin </p>
          <p><%= shift.hour_end.strftime('%H:%M') %></p>
        </div>
      </div>
    </div>
  </div>
