<% if shift_of_current_user %>
  <div class= "one_exchange-card shift_of_current_user">
<% elsif validated %>
  <div class= "one_exchange-card validated">
<% else %>
  <div class= "one_exchange-card">
<% end %>
    <div class="line">
        <h2><%= shift.line.name %></h2>
    </div>
    <div class="date_hours">
      <div class="date">
        <h2><%= l(shift.date, format: "%a %e %b").upcase %></h2>
      </div>
      <div class ="shift_hours">
        <div class="starting_hour">
          <p id="start"> Début </p>
          <h3> <%= shift.hour_start.strftime('%H:%M') %></h3>
        </div>
        <div class="ending_hour">
          <p id="end"> Fin </p>
          <h3><%= shift.hour_end.strftime('%H:%M') %></h3>
        </div>
      </div>
    </div>
  </div>
