.supervises-home {
  position: relative;

  .exchange-review {
    .exchange-review__manager-answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    }
    &:hover {
      cursor: pointer;
    }
    &.full .exchange-review__manager-answer {
      max-height: 1000px;
      transition: max-height 1s ease-in-out;

      label {
        font-size: 12px;
      }
    }
    .form-group.exchange_message {
      flex-grow: 1;
      margin-bottom: 2rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;

      label {
        margin-bottom: 0;
      }
    }
    .form-group.exchange_accepted_manager{
      margin-bottom: 2rem;
      legend {
        font-size: 12px;
      }
    }
  }

  .supervise_identities{
    display: flex;
    justify-content: space-around;
  }

}
