.supervises-home {
  .exchange-review {
    .exchange-review__manager-answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    }
    &:hover {
      cursor: pointer;
    }
    &.full .exchange-review__manager-answer {
      max-height: 1000px;
      transition: max-height 1s ease-in-out;
    }

  }

}
