  <h1 class="text-indigo-700 text-4xl container mx-auto text-center">Bienvenue sur la page home</h1>

  <div class="bg-blue px-4 py-2 bg-teal-300 text-white w-24 border-black border-solid rounded-lg">
    <a href="">Button</a>
  </div>

</div>


