$color-h1:#5B27EF;

.shifts-new {
  background-color: white;
}

.select {
  border-radius: 10px;
}

.form-control {
  border-radius: 10px;
}

.date-elm{
  display: flex;
  justify-content: flex-end;
}

.annuler {
margin-top: 20px;
}

.btn-submit {
  margin-top: 40px;
  text-align: center;
  border-radius: 5px;
  background-color: $color-h1;
  border: solid 2px $color-h1;
  color: #FFFFFF;
  text-align: center;
  font-weight: 550;
  transition: all 0.5s;
  cursor: pointer;
  padding: 0.5rem;
}

.btn-submit:hover, .button:hover {
  background-color: #ffff;
  color: $color-h1;
  text-decoration: none;
  border : solid 2px $color-h1;
}

.button {
color: #FFFFFF;
font-weight: 550;
background-color: $color-h1;
}


.fond {
  // background-color: #27EFE3;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-top: 40px;
  padding: 13px;
}

