
  <h1>Mes réponses acceptées par le demandeur</h1>

<%# je selectionne les exchanges dans lesquelles je figure en tant que répondant et j'itère dessus %>
  <% current_user.exchange_answers.each do |exchange| %>

<%# je vérifie que cet exhcange a bien un booléen 'accepted_owner' à true %>
    <% if exchange.accepted_owner %>

<%# si c'est le cas, j'identifie quel est le shift de la personne émettrice et je l'affiche %>
      <% shift = exchange.shift_owner %>
      <p>Demande originelle</p>
      <%= raw(ap shift)%>

<%# ensuite j'identifie tous les exchanges correspondants a ce shift dans lesquelles que j'avais fait une réponse %>
      <% responses = shift.exchange_answers %>
<%# une fois que j'ai ce tableau d'excanges, je le parcours et j'affiche toutes les 'shifts_answers' %>
      <% responses.each do |response| %>

        <% if response.accepted_owner && response.shift_answer.user == current_user %>
          <p>réponse que j'avais faite qui a été choisie par le demandeur</p>
          <%= raw(ap response.shift_answer)%>
          
        <% end %>
      <% end %>

      <% elsif exchange.accepted_owner == nil %>
<%# si c'est le cas, j'identifie quel est le shift de la personne émettrice et je l'affiche %>
      <% shift = exchange.shift_owner %>
      <h1> Mes réponses en attente de choix par le demandeur </h1>
      <p>Demande originelle</p>
      <%= raw(ap shift)%>

<%# ensuite j'identifie tous les exchanges correspondants a ce shift dans lesquelles que j'avais fait une réponse %>
      <% responses = shift.exchange_answers %>
<%# une fois que j'ai ce tableau d'excanges, je le parcours et j'affiche toutes les 'shifts_answers' %>
      <% responses.each do |response| %>

        <% if response.accepted_owner == nil && response.shift_answer.user == current_user %>
          <p>réponse que j'avais faite en attente de choix par le demandeur</p>
          <%= raw(ap response.shift_answer)%>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
