<h1>My Shifts</h1>

<h2>Demandes en attentes validation manager</h2>

  <% @exchanges_pending_manager.each do |exchange| %>
    <%= raw(ap exchange) %>
  <% end %>

<h2>Demande en attentes de réponses</h2>

<h2>Historiques des demandes acceptées</h2>

  <% @exchanges_validated.each do |exchange| %>
    <%= raw(ap exchange) %>
  <% end %>
