<h1>My Shifts</h1>

<h1>Demandes en attentes validation manager</h1>

<div>                                                     
  <% @exchanges_pending_manager.each do |exchange| %>
  <%= raw(ap exchange) %>
  <% end %>
</div>

<h1>Demande en attentes de réponses de ma part </h1>

<div>                                                     
  <% @exchanges_pending_my_answer.each do |exchange| %>
  <%= raw(ap exchange) %>
  <%=link_to 'Accepter', exchange_accepted_owner_path(exchange.id), class: "btn_accept_user"%>
  <% end %>
</div>

<h1>Historiques des demandes acceptées</h1>

  <% @exchanges_validated.each do |exchange| %> 
    <%= raw(ap exchange) %>
  <% end %>
