$color-h1:#5B27EF;

.bottom_navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 16px;
  }

  a:hover {
    font-size: 18px;
    transition: 0.2s;
  }

  .white {
    flex-grow: 1;
  }

  .grey {
    background: $color-h1;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
  }

  .plus {
    display: flex;
    height: 81px;
    width: 87px;
    margin-top: -10px;
    margin-bottom: -10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: $color-h1;

  }

  #plus_icon {
    font-size: 50px;
    line-height: 30px;
    vertical-align: middle;
  }

  #plus_icon:hover {
    font-size: 66px;
    line-height: 30px;
    vertical-align: middle;
    transition: 0.2s;
  }

  .black {
    background: $color-h1;
    height: 30px;
  }
}

