$color-h1:#5B27EF;

.button-sd {
  height: 80px;
  width: 250px;
  background-color: black;
}

.button_action {
  border-radius: 5px;
  background-color: $color-h1;
  border: solid 2px $color-h1;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  transition: all 0.5s;
  cursor: pointer;
  padding: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.button_action:hover {
  background-color: #ffff;
  color: $color-h1;
  text-decoration: none;
  border : solid 2px $color-h1;
}

.button_filter {
  height: 30px;
  border-radius: 5px;
  vertical-align: center;
  background-color: $color-h1;
  border: solid 2px $color-h1;
  color: #FFFFFF;
  text-align: center;
  font-weight: 550;
  transition: all 0.5s;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.button_filter:hover {
  background-color: #ffff;
  color: $color-h1;
  text-decoration: none;
  border : solid 2px $color-h1;
}
