

$color-line: #27EFE3;
$color-owner: #27EFE3;
$color-answer: #27EFE3;


.exchange_cards{
  display: grid;
  grid-template-columns: 1fr 0.002fr 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;


  .exchange_symbol{
    width: 50px;
    height: 50px;
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: 2;
  }


  .separation_bar{
    color: #bfb5b5;
    opacity: 0.8;
  }

  .owner_shift_card {
    display: flex;
    border: 3px solid #27EFE3;
    background-color: #ffff;
    justify-content: space-between;
    margin-right: 0.3rem;
    margin-left: 0.2rem;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .answer_shift_card {
    display: flex;
    background-color:  #ffff;
    justify-content: space-between;
    margin-right: 0.2rem;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .owner_shift_card .line{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: larger;
    color: #ffff;
    background-color: $color-owner;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
  }


  .owner_shift_card .date_hours{
    background-color: #ffff;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .answer_shift_card .date_hours{
    background-color: #ffff;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }


  .owner_shift_card .shift_hours{
    display: flex;

  }

  .answer_shift_card .shift_hours{
    display: flex;
    
  }

  .owner_shift_card .date{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-top-right-radius: 5px;
  }


  .owner_shift_card .starting_hour{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: smaller;
    background-color: #ffff;
    color:#4f4747;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
      #start{
        font-size: larger;
      }
  }

  .owner_shift_card .ending_hour{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: smaller;
    background-color: #ffff;
    color:#4f4747;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

      #end{
        font-size: larger;
      }
  }


  .answer_shift_card .line{
    font-family: 'Heebo', sans-serif;
    color: #ffff;
    font-size: larger;
    font-weight: 600;
    background-color: $color-answer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .answer_shift_card .date{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-top-right-radius: 5px;
  }


  .answer_shift_card .starting_hour{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: smaller;
    background-color: #ffff;
    color:#4f4747;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
      #start{
        font-size: larger;
      }
  }

  .answer_shift_card .ending_hour{
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    font-size: smaller;
    background-color: #ffff;
    color:#4f4747;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

      #end{
        font-size: larger;
      }
  }
}