form input.form-control{

}


.session-container {
  margin-top: 50px;

}

.present {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #b7a5cf;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
