$color-h1:#5B27EF;

.separation_bar{
    color: #bfb5b5;
    opacity: 0.8;
  }

.my_container{
  max-width: 700px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100%;

  .titre_1{
    width: 100%;
    font-family: 'Heebo', sans-serif;
    color: $color-h1;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    background-color: #ffff;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }

  .titre_2{
    width: 100%;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    text-align: left;
    background-color: #ffff;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
}

.my_home_page{
  max-width: 800px;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);


  .home_page_title{
    width: 100vw;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #ffff;
  }

  .home_page_baseline{
    font-size: 2rem;
    width: 100vw;
    font-weight: 500;
    text-align: center;
    color: #ffff;
  }

  .home_page_image{
    margin-top: 1rem;
    height: 300px;
    max-width: 350px;
    background-size: cover;
    background-color: $color-h1;  
  }

}

.my_supervise_container{
  max-width: 1200px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100%;

  .titre_1{
    width: 100%;
    font-family: 'Heebo', sans-serif;
    color: $color-h1;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    background-color: #ffff;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }

  .titre_2{
    width: 100%;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    text-align: left;
    background-color: #ffff;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }

}

.my_supervise_stats_container{
  max-width: 1200px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100%;

  .titre_1{
    width: 100%;
    font-family: 'Heebo', sans-serif;
    color: $color-h1;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    background-color: #ffff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .titre_2{
    width: 100%;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    text-align: left;
    background-color: #ffff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .table_centrage{
    display: flex;
    justify-content: center;
  }

  .stats_div{
    padding-left: 4rem;
  }
}