.container__card-exchange {
    display: flex;
    background-color: #ffff;
    border-radius: 5px;
    position: relative;
    padding-right: 3rem;

  .card-exchange__line {
    background-color: #27EFE3;
    color: #ffff;
    font-size: bolder;
    height: 4rem;
    padding: 0.7rem;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  .card_avatar {
    background-color: white;
    background-repeat:no-repeat;
    background-position: center center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top: -16px;
  }
}
