.container__card-exchange {
  .card-exchange__line {
    background-color: #CAFF8A;
    color: black;
    border-radius: 2rem;
    height: 4rem;
  }

  .card_avatar {
    background-color: #C4C4C4;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}
