
$color-h1:#5B27EF;

.navbar {

}
.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#phone_navbar {

  background-color: $color-h1;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  display: flex;
  justify-content: flex-end;
  color: white !important;
}

.navbar-custom .navbar-text { 
  color: white !important; 
} 
