.navbar {

}
.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#phone_navbar {
  background-color: rgb(91,39,239);
  display: flex;
  justify-content: flex-end;
}
