<h1>Supervises#home</h1>
<p>Find me in app/views/supervises/home.html.erb</p>



#navbar
<div>                                                         
</div>

#container
<div>

  <h1>Liste des échanges en attente de validation</h1>                                                          
  <div>                                                         
    <% @exchanges_pending_manager.each do |exchange| %>
      <div class="exchange_manager_card">
        <%= raw(ap exchange) %>
        <%=link_to 'Accepter', exchange_accepted_manager_path(exchange.id), class: "btn_accept_manager"%>
      </div>
      <br><br><br><br>
    <% end %>
  </div>

  <h1>Proposer de nouvelles vacations</h1>
  <div>                                                         
  </div>
</div>
