.card-offer {
  display: flex;

}
.first_name {
  font-size: 66px;
  margin: 0px 0px 30px 15px;
  font-family: 'Abel', sans-serif;
}

.logo{
  height: 70px;
  width: 70px;
  margin-left: 30px;
  border: 1.5px black solid;
  border-radius: 36px;
}

.navbar {
  background-color: white;
}

.main {
  height: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.white {
  flex-grow: 1;
}

.grey {
  background: grey;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plus {
  display: flex;
  height: 60px;
  width: 60px;
  margin-top: -10px;
  margin-bottom: -10px;
  z-index: 10;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: grey;
}

.plus span {
  font-size: 50px;
  line-height: 30px;
  vertical-align: middle;
}

.black {
  background: black;
  height: 30px;
}


