.test {
  background-color: green;
  width: 700px;
  margin: 25px 0px 0px 15px;
}

.test {

}

.first_name {
  font-size: 66px;
  margin: 0px 0px 30px 15px;
  font-family: 'Abel', sans-serif;

}

.logo{
  height: 70px;
  width: 70px;
  margin-left: 30px;
  border: 1.5px black solid;
  border-radius: 36px;
}

.navbar {
  background-color: white;
}
