.dashboards-home {
  background-color: #5B27EF;

  h1 {
    font-size: 32px;
    font-family: 'Abel', sans-serif;
  }
}


.plus {
  display: flex;
  height: 70px;
  width: 72px;
  margin-top: -10px;
  margin-bottom: -10px;
  z-index: 10;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: grey;
}


.filter {
  display: flex;
  justify-content: center;
}

.form_filter_class{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.filtres_date_ligne{
  display: flex;
  align-items: center;
  justify-content: center;
}

.filtre_date{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // margin-bottom: 0.5rem;
  margin-right: 1rem;
}


.filtre_ligne{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 0.5rem;
}

.champ_date{
  // margin-right: 1rem;
  // margin-left: 1rem;
  height: 25px;
  width: 75px;
}

.champ_ligne{
  height: 25px;
  margin-right: 1rem;
  width: 75px;
}

