.my_shifts{
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.shift-owner {
  height: 100px;
  background-color: blue;
  display: flex;
  align-items: center;
  background-color: #cc967d;;
  margin-bottom: 20px;
  border-radius: 10px;
}


.line-owner, .line-answer {
  background-color: #c4c4c4;
  width: 85px;
  height: 85px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.shift-owner .heure-debut {
  margin-right: 60px;
}
.shift-answers .heure-debut {
  margin-right: 60px;
}
.date-owner {
  margin-left: 50px;
  margin-right: 121px;
  font-size: 28px;
}
.date-answer {
  margin-left: 30px;
  margin-right: 58px;
  font-size: 28px;
}
.answers-block {
  height: 200px;
}

.shift-answers {
  height: 100px;
  background-color: #55a5c3;
  display: flex;
  margin-left: 84px;
  align-items: center;
  border-radius: 10px;

}

